.banner-carousel .control-dots {
  justify-content: center !important;
  margin: 1rem 0 0;
}

.banner-carousel .thumbs-wrapper,
.banner-carousel .thumbs {
  display: flex !important;
  justify-content: center !important;
}

.banner-carousel .thumbs li {
  margin: 0 0.25rem;
}

.banner-carousel .slide img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
